html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Courier New", Courier, monospace;
}
input[type="text"]:focus {
  box-shadow: none;
}